


/*GLOBAL*/
#boxFooter{
  margin-top: 100px;
  text-align: center;
  background-color: LightGrey;
  width: 100%;
  bottom: 0;
  position: relative;
  padding: 10px;
  opacity:0.35;
}
html, body {
  padding: 0;
  margin:0;
}
body {
    font-family: monospace, sans-serif;
    transition: background-color .5s;
}
hr{
  height:3px;
  background-color: black;
  opacity:0.25;
}
hr.hrGradient{
  border:0;
  height:3px;
  opacity:0.15;
  background-image:-webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image:-moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image:-ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image:-o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0)
}
img{
  margin-left:5%;
  width: 90%;
}

/*CODE*/
div.highlight{
  font-size: 14px;
}
/*LAYOUTS*/
/*home.html*/
#boxHome {
  background-color: LightGrey;
  width: 50%;
  margin: 20px auto;
  position: relative;
  padding: 10px;
  border-radius: 4px;
}
#logo{
  text-align:center;
}
img.imgLogo{
    border-radius: 50%;
    width: 40%;
    opacity:0.8;
}
h1.h1Home{
  text-align: center;
  font-size: 64px;
  line-height: 1.5;
  display: block;
  font-family:Helvetica, Arial, sans-serif;
  font-weight: 900;
  margin: 10px 0 0;
}
h2.h2Home{
  text-align: center;
  font-size: 30px;
  line-height: 1.3;
  display: block;
  font-family:Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 10px 0 0;
}
/*post.html*/
#boxPost{
  background-color: LightGrey;
  width:65%;
  margin: 20px auto;
  position: relative;
  padding: 10px;
  border-radius: 4px;
  z-index: 10;
}
/*INCLUDES*/
/*head.html*/
/*menu.html*/
#barsBtn {
    position: fixed;
    z-index: 2;
    transition: margin-left .5s;
    padding: 16px;
    color: LightGrey;
}
div.sideMenu #closeSideMenuBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
div.sideMenu {
    position: fixed;
    z-index: 3;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
div.sideMenu a.sideMenuBtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
div.sideMenu a.sideMenuBtn:hover {
    color: #f1f1f1;
}
@media screen and (max-height: 450px) {
  div.sideMenu {padding-top: 15px;}
  div.sideMenu a.sideMenuBtn {font-size: 18px;}
}
/*social_media.html*/
h3.socialMedia {
   text-align: center;
   color:#282828;
  }
a.social-btn{
  display:inline-block;
  border: 2px solid #282828;
  padding: 10px;
  margin: 10px;
  color:#282828;
  border-radius: 10%;
  border-color:#d0d1d5;
}
a.social-btn:hover{
  color:red;
}
/*youtube.html*/
#videoWrapper{
  position: sticky;
  width: 100%;
  z-index: 1;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 30px 50px 20px rgba(0, 0, 0, 0.7);
  height: 360px;
  background-color: rgba(0,0,0,0.7);
}
